body {
    font-family: sans-serif;
    text-align: justify;
    color: blue;
    width: 1200px;
    margin: auto;
}


nav{
    width: 1200px;
    background-color: rgba(0, 0, 0, 0.317);
    padding: 10px;
    margin: auto;
    border-radius: 10px;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

a {
    text-decoration: none;
}

a:hover{
    font-size: 25px;
}

main {
    display: flex;
}

section {
    float: left;
}

.esquerda {
    text-align: left;
    width: 33.33;
}

.centro {
    text-align: left;
}

.direita {
    text-align: left;
}

h2 {
    text-align: left;
    font-size: 35px;
    color: red;
}

footer {
    text-size-adjust: 15px;
    text-align: center;
}