
* {
    margin: 0;
}

header {
    background-color: green;
    text-align: center;
    padding: 20px;
}

ul {
    list-style: none;
    justify-content: space-around;
    display: flex;
}

a {
    font-size: 30px;
    text-decoration: none;
    color: black;
}

a:hover {
    color: white;
}

footer {
    background-color: green;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 10px;
}