body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
    background-color: #B7BF99;
    border: 2px solid black;
    text-shadow: 2px 2px 2px black;
    color: #0A7373;
    border-radius: 10px;
}

main {
    display: flex; /*Serve para colocar as divs uma do lado da outra*/
    justify-content: space-around; /**/
    text-align: justify; 
    margin-top: 10px;
}

.subt {
    width: 30%; /*largura*/
    padding: 15px; /*Alinhar o texto entre as bordas. para não ficarem coladas com as bordas*/
    border: 2px solid black; /*Borda, espesura, solida, cor*/
    border-radius: 10px; /*Arredondar as bordas criadas pelo background-color*/
    box-shadow: 10px 10px 10px black; /*Sombra para as caixas*/
}

.titulodois {
    color: black;
}

.esporte {
    background-color: #EDAA25;
    color: white;
}

.negocios{
    background-color: #C43302;
    color: white;
}